/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

* {
  outline: 0;
  padding: 0; 
}

abbr[title] {
  text-decoration: none; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border-radius: 0;
}