$font-family: 'Roboto', sans-serif;

$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 36px;


$font-weight-light: 200;
$font-weight-regular: 300;

$color-light-grey: #eeeeee;
$color-grey: #b0b0b0;
$color-black: #2E2929;
$color-blue: #4285f4;
$color-dark-blue: #3F51B5;
$color-red: #DC6D7F;