$font-family: 'Roboto', sans-serif;

$font-size-small: 13px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 36px;


$font-weight-light: 200;
$font-weight-regular: 300;

$color-white: #ffffff;
$color-grey: #b0b0b0;
$color-grey-light: #eeeeee;
$color-black: #2E2929;
$color-blue: #4285f4;
$color-blue-dark: #3F51B5;
$color-blue-light: #e9eaf7;
$color-blue-lightest: #f7f8fc;
$color-red: #DC6D7F;


$media-xs: 400px;
$media-md: 600px;
$media-xl: 950px;
