@import "../core/variables.scss";

@mixin button-base {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 0;
}

.button-raised {
  @include button-base;
  line-height: 36px;
  padding: 0 16px;
  color: #FFFFFF;
  background-color: $color-blue;
  border-radius: 2px;
  &:hover {
    transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }

  &--disabled {
    @include button-base;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    background-color: $color-grey-light;
    color: $color-grey;
    cursor: default;
  }
}

.button-flat {
  @include button-base;
  color: $color-blue;
  background-color: transparent;

  &--active {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-blue;
    cursor: default;
  }
}
