@import "../core/variables.scss";

.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: $font-size-regular;
  font-weight: $font-weight-light;
  line-height: 36px;
  border-width: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.22);

  &:focus {
    border-color: $color-blue;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__has-error {
    border-color: $color-red
  }

  &__has-error:focus {
    border-color: $color-red
  }

  &--error-message {
    display: inline-block;
    margin-top: 7px;
    font-size: 13px;
    color: $color-red;
  }
}



