@import "../core/variables.scss";

.navigation {
  &__menu {
    margin: 0 15px;
    line-height: 64px;
    font-size: $font-size-x-large;
    cursor: pointer;
    color: $color-white;
  }

  &__list {
    margin: 0 15px;
    max-height: 0;
    overflow: hidden;
    line-height: 64px;
    font-size: 18px;
    list-style-type: none;
    transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);

    &--visible {
      max-height: 500px;
    }
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;

    &--active {
      padding-bottom: 3px;
      border-bottom: 1px solid #FFFFFF;
    }
  }
}

@media screen and (min-width: $media-md) {
  .navigation {
    &__menu {
      display: none;
    }

    &__list {
      display: flex;
      max-height: 500px;
    }
  }
}
