.navigation {
  &__list {
    display: flex;
    margin: 0 15px;
    flex-wrap: wrap;
    font-size: 18px;
    list-style-type: none;
  }

  &__list-item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
  }

  &__link--active {
    padding-bottom: 3px;
    border-bottom: 1px solid #FFFFFF;
  }
}
