@import "../core/variables.scss";

html {
    color: $color-black;
    font-family: $font-family;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    text-rendering: optimizeLegibility;
}


/* ------------ HEADINGS --------------- */

h1, h2 {
    font-weight: $font-weight-regular;
}
  
h1 {
    font-size: $font-size-x-large;
}
  
h2 {
    font-size: $font-size-large;
}

