.survey-form {
  margin-top: 35px;

  &__question {
    margin-top: 40px;
  }

  &__submit {
    margin-top: 50px;
  }

  &__radio-group-list {
    margin-top: 20px;
    list-style: none;
  }

  &__radio-group-list-item {
    display: flex;
    margin-top: 20px;
    align-items: baseline;

    label {
      margin-left: 10px;
    }
  }
}