@import "../core/variables.scss";

.survey-responses {
  &__description {
    margin-top: 10px;
  }

  &__question {
    margin-top: 30px;
  }

  &__answer-list {
    list-style: none;
  }

  &__answer-list-item {
    padding: 7px 10px;
    font-size: $font-size-small;
    font-weight: normal;
    line-height: 1.5;
  }

  &__answer-list-item:nth-of-type(2n+1) {
    background-color: $color-blue-light;
  }

  &__answer-list-item:nth-of-type(2n) {
    background-color: $color-blue-lightest;
  }

  &__doughnut-chart {
    margin-top: 8px;
  }

  &__bar-chart {
    margin-top: 10px;
  }
}