

/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

html {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

* {
  outline: 0;
  padding: 0;
}

abbr[title] {
  text-decoration: none;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */

/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* ------------ HEADINGS --------------- */

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 25px;
}

/* ------------ BUTTONS --------------- */

.button, button {
  /* Box-model */
  padding: 0 16px;

  /* Typography */
  font-size: 14px;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;

  /* Visual */
  border: 0;
  background-color: #4285f4;
  border-radius: 2px;

  /* Misc */
  cursor: pointer;
  &:hover {
    transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
}


/* ------------ INPUT --------------- */
input {
  /* Box-model */
  display: inline-block;
  font-weight: 200;
  height: 48px;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;

  /* Typography */
  font-size: 16px;
  line-height: 48px;
  
  /* Visual */
  border-width: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.22);
}

input:focus {
  border-color: #4285f4;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

/* ------------ FORM ELEMENTS --------------- */

.form-group {
  margin: 15px 0;
}

.form-radio-group {
  margin-top: 20px;
  display: flex;
  align-content: flex-end;
}

.form-group h2 {
  margin-bottom: 10px;
  margin-top: 40px;
}

.form-control {
  width: 100%;
}

.form-scale-label-left {
  margin-top: 33px;
  flex: 1;
}

.form-scale {
  margin: 0;
  flex: 2;
  align-self: center;
  list-style-type: none;
  display: flex;
}

.form-scale li label {
  display: block;
  text-align: center;
}

.form-scale li {
  text-align: center;
  padding: 0 15px;
}

.form-scale-label-right {
  margin-top: 33px;
  flex: 1;
  align-self: left;
}


/* ------------ HEADER --------------- */

.container {
  padding: 0 15px;
  max-width: 600px;
  margin: 60px auto;
}

header {
  background: #3F51B5;
  line-height: 64px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}

nav > ul {
  margin: 0 15px;
  list-style-type: none;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

nav > ul > li:not(:last-child) {
  margin-right: 15px;
}

nav > ul > li > a.active {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px; 
} 


.layout-questions form {
  margin-top: 50px;
}

.layout-questions .submit {
  margin-top: 30px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
