@import "variables.scss";

.survey-builder {
  &__heading {
    margin-bottom: 60px;
  }

  &__title {
    font-size: $font-size-large;
    display: block;
    width: 100%;
  }

  &__description {
    font-size: $font-size-small;
    display: block;
    width: 100%;
  }

  &__question {
    margin-top: 60px;

    input {
      display: block;
      width: 100%;
    }
  }

  &__answer-options {
    ul {
      list-style: none;

      li {
        display: flex;
        align-items: baseline;
        margin-top: 10px;

        input {
          display: block;
          width: 50%;
        }
      }
    }
  }

  &__control-group {
    margin-top: 35px;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 15px;
      }
    }
  }

}