.survey-form {
    margin-top: 50px;
    
    &__submit {
        margin-top: 30px;
    }
    
    &__group {
        margin: 15px 0;
        h2 {
            margin-bottom: 10px;
            margin-top: 40px;
        }
    }
    &__radio-group {
        display: flex;
        margin-top: 20px;
        align-content: flex-end;
    }
    &__control {
        width: 100%;
    }
    &__scale-label {
        margin-top: 33px;
        flex: 1;
        &--left {
            align-self: left;
        }
        &--right {
            align-self: right;
        }
    }
    &__scale {
        display: flex;
        margin: 0;
        flex: 2;
        align-self: center;
        list-style-type: none;
        li {
            padding: 0 15px;
            text-align: center;
            label {
                display: block;
                text-align: center;
            }
        }
    }
}