@import '../../styles/variables.scss';

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */


/* ------------ BUTTONS --------------- */

.button,
button {
    padding: 0 16px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    background-color: $color-blue;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
}


/* ------------ INPUT --------------- */

input {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
    height: 48px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    line-height: 48px;
    border-width: 0;
    border-bottom: 1px solid rgba(33, 33, 33, 0.22);
    &:focus {
        border-color: $color-blue;
        transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    }
}


/* ------------ HEADER --------------- */

.container {
    margin: 60px auto;
    padding: 0 15px;
    max-width: 600px;
}

header {
    line-height: 64px;
    background: $color-dark-blue;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 300;
    }
}

nav>ul {
    margin: 0 15px;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    >li:not(:last-child) {
        margin-right: 15px;
    }
    >li>a.active {
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 3px;
    }
}